In [1]:
import pandas as pd

In [2]:
dpath = './raw/tables/apartments_pl_2023_08-2024_06.csv';
df = pd.read_csv(dpath)
df.sample(5)

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price,date
21878,7fd981c6005b1ab3bcae160794aa245e,krakow,blockOfFlats,59.64,3.0,4.0,4.0,1970.0,50.018350,19.986100,...,condominium,concreteSlab,NaN,no,yes,no,no,yes,635000,2023_09
165326,de3134145b24df44f70df677cc926e06,katowice,blockOfFlats,78.00,4.0,NaN,10.0,NaN,50.205564,18.968699,...,condominium,NaN,NaN,no,yes,yes,no,yes,499000,2024_05
163694,120952ee5df3f53cfc18ae708452708b,rzeszow,apartmentBuilding,130.00,4.0,14.0,14.0,2015.0,50.019623,21.971892,...,condominium,brick,NaN,no,yes,yes,no,yes,1150000,2024_05
83208,31a693893b06edd44551e20377698bb3,warszawa,apartmentBuilding,28.90,2.0,2.0,10.0,2023.0,52.169221,20.995179,...,condominium,brick,premium,no,yes,yes,no,no,750000,2023_12
134385,d729cec9f3573567a37720164413f398,bydgoszcz,apartmentBuilding,63.97,3.0,3.0,3.0,2022.0,53.113120,17.972740,...,condominium,brick,NaN,no,yes,yes,yes,no,749000,2024_03

In [3]:
df['city'].unique()

array(['szczecin', 'gdynia', 'krakow', 'poznan', 'bialystok', 'gdansk',
       'wroclaw', 'radom', 'rzeszow', 'lodz', 'katowice', 'lublin',
       'czestochowa', 'warszawa', 'bydgoszcz'], dtype=object)

In [4]:
df = df.replace([
        'szczecin', 'gdynia', 'krakow', 'poznan', 'bialystok', 'gdansk', 
        'wroclaw', 'radom', 'rzeszow', 'lodz', 'katowice', 'lublin',
        'czestochowa', 'warszawa', 'bydgoszcz'
    ], [ 
        'Szczecin', 'Gdynia', 'Kraków', 'Poznań', 'Białystok', 'Gdańsk',
        'Wrocław', 'Radom', 'Rzeszów', 'Łódź', 'Katowice', 'Lublin',
        'Częstochowa', 'Warszawa', 'Bydgoszcz'
    ]
)

In [5]:
df.sample(5)

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price,date
74334,0393cca614f601627a585fca7dd82335,Gdańsk,tenement,46.00,2.0,NaN,2.0,1960.0,54.383800,18.616300,...,condominium,brick,NaN,yes,no,no,no,yes,512000,2023_12
96686,c2836ba288e7981bba7da1c481b269ea,Warszawa,blockOfFlats,47.86,3.0,12.0,15.0,1970.0,52.235860,20.994810,...,condominium,NaN,NaN,no,yes,yes,no,yes,865000,2024_01
151173,babb2f1e3657fc93d3d166c97e8b79be,Warszawa,NaN,104.00,3.0,3.0,4.0,2024.0,52.193979,21.026762,...,condominium,NaN,NaN,no,no,yes,no,no,3032400,2024_04
190678,df7c74e5d0ac4402676f9be70a00901a,Warszawa,blockOfFlats,55.93,3.0,2.0,3.0,NaN,52.233375,20.957183,...,condominium,NaN,low,yes,yes,no,no,yes,840000,2024_06
83770,c43f1b32bdc640c4a4887d7cc2070623,Warszawa,NaN,48.84,2.0,3.0,7.0,2023.0,52.203694,20.883920,...,condominium,brick,NaN,yes,yes,yes,no,no,630000,2023_12

In [6]:
df['date'].unique()

array(['2023_08', '2023_09', '2023_10', '2023_11', '2023_12', '2024_01',
       '2024_02', '2024_03', '2024_04', '2024_05', '2024_06'],
      dtype=object)

In [7]:
df.to_csv(dpath, index=False)